@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <h3><a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Index">Ir para a lista de Clientes</a></h3>
</div>
